<div class="content">
  <div class="categories">
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-12_1_1.png" alt="Gagionvuiver"><b>Món Ngon Phải Thử</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-05_1.png" alt="Gagionvuiver"><b>Gà Giòn Vui Vẻ</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-06.png" alt="Miy"> <b>Mì Ý Jolly</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-07.png" alt="Miy"><b>Gà Sốt Cay</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-05_1.png" alt="Miy"><b>Burger/Cơm</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/phananphu.png" alt="Miy"><b>Phần ăn phụ</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/trangmieng.png" alt="Miy"><b>Món tráng miệng</b></div>
    <div class="b"><img src="https://jollibee.com.vn//media/catalog/category/thucuong.png" alt="Miy"><b>Thức uống</b></div>
  </div>
</div>
