<div class="content">
  <div class="categories">
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-12_1_1.png" alt="Gagionvuiver"><b>Món Ngon Phải Thử</b></button>
    <button class="b"><img routerLink="/ga-gion-vui-ve" src="https://jollibee.com.vn//media/catalog/category/web-05_1.png" alt="Gagionvuiver"><b>Gà Giòn Vui Vẻ</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-06.png" alt="Miy"><b>Mì Ý Jolly</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-07.png" alt="Miy"><b>Gà Sốt Cay</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/web-05_1.png" alt="Miy"><b>Burger/Cơm</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/phananphu.png" alt="Miy"><b>Phần ăn phụ</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/trangmieng.png" alt="Miy"><b>Món tráng miệng</b></button>
    <button class="b"><img src="https://jollibee.com.vn//media/catalog/category/thucuong.png" alt="Miy"><b>Thức uống</b></button>
  </div>
</div>
