<div class="navbar">
  <div class="logo">
    <img src="https://jollibee.com.vn/static/version1739462216/frontend/Jollibee/default/vi_VN/images/logo.png" alt="Jollibee Logo">
  </div>
  <nav class="menu">
    <a href="*">Trang Chủ</a>
    <a href="*">Về Jollibee</a>
    <a href="*" id="thucdon">Thực Đơn</a>
    <a href="*">Khuyến Mãi</a>
    <a href="*">Dịch Vụ</a>
    <a href="*">Tin Tức</a>
    <a href="*">Cửa Hàng</a>
    <a href="*">Liên Hệ</a>
    <a href="*">Tuyển Dụng</a>
  </nav>
  <div class="user-options">
    <button class="pickup"><b>Pick Up</b></button>
    <div class="giaohangtannoi"><img src="https://jollibee.com.vn/media/wysiwyg/delivery-lg-rs.png" ></div>
  </div>
</div>

<app-overplay-nav></app-overplay-nav>
